{% extends "bootstrap.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='data_viewer.css') }}" />
    <style>
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand>img {
        height: 100%;
        padding: 5px;
        width: auto;
        filter: invert(100%);
    }
    </style>
{% endblock %}

{% block body_attribs %} class="application" {% endblock body_attribs %}

{% block navbar %}
     {% set page_index = {'_': 0} %}
     {% set pages = ['plates', 'meta_data', 'channels', 'streams', 'workflows', 'tools', 'views'] %}
{#  'factors',  #}
     {% for page in pages %}
        {% if page in request.base_url %}
            {% do page_index.update({'_': loop.index}) %}
        {% endif %}
     {% endfor %}
     {% set index = page_index._ %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <div class="navbar-left icon"></div>
                <a class="navbar-brand" href="./"><img src="{{ url_for('.static', filename='hyperstream.svg') }}" alt="HyperStream Viewer"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li role="presentation"{% if index == 0 %} class="active"{% endif %}><a href="{{ url_for('index') }}">HyperStream</a></li>
                    {% for page in pages %}
                        <li role="presentation"{% if index == loop.index %} class="active"{% endif %}><a href="{{ url_for(page) }}">{{ page | title | replace('_', ' ') }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    {{ super() }}
    <br/>
{#    <div class="container-fluid">#}
{#        <div class="jumbotron alert alert-danger">#}
{#            <h2>HyperStream Data Viewer and Visualisation Dashboard</h2>#}
{#            <p>Issue tracker on <a href="https://github.com/IRC-SPHERE/HyperStreamViewer/issues">GitHub</a></p>#}
{#            <p>{{ hyperstream | string }}</p>#}
{#            <p>Plugin paths: [{{ hyperstream.config.plugins | map(attribute='path') | join(', ') }}]</p>#}
{#       </div>#}
{#    </div>#}
{##}
{% endblock %}

{% block scripts %}
    {{ super() }}
{#    <script type="text/javascript" src="{{ url_for('.static', filename='meta.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('bower.static', filename='bootstrap-treeview/dist/bootstrap-treeview.min.js') }}"></script>

{% endblock %}
