{% extends "bootstrap.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{#    {% block title %}HyperStream Viewer{% endblock %}#}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='data_viewer.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='keen-dashboards/dist/keen-dashboards.css') }}" />
{% endblock %}

{% block body_attribs %} class="application" {% endblock body_attribs %}

{% block navbar %}
     {% set page_index = {'_': 0} %}
     {% for page in ['dashboard'] %}
        {% if page in request.base_url %}
            {% do page_index.update({'_': loop.index}) %}
        {% endif %}
     {% endfor %}
     {% set index = page_index._ %}

{#    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">#}
{#         <div class="container-fluid">#}
{#             <div class="navbar-header">#}
{#                 <a href="{{ url_for('index') }}" style="padding-right: 50px">#}
{#                    <img alt="SPHERE" src="https://cdn.rawgit.com/IRC-SPHERE/HyperStream/dfbac332/hyperstream.svg" width="50">#}
{#                 </a>#}
{#             </div>#}
{#             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#                 <ul class="nav nav-tabs">#}
{#                     <li role="presentation"{% if index == 0 %} class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>#}
{#                     <li role="presentation"{% if index == 1 %} class="active"{% endif %}><a href="{{ url_for('dashboard') }}">Dashboard</a></li>#}
{#                 </ul>#}
{#             </div>#}
{#        </div>#}
{#    </nav>#}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{#                <a class="navbar-brand" href="../">#}
{#                    <span class="glyphicon glyphicon-chevron-left"></span>#}
{#                </a>#}
                <a class="navbar-brand" href="./">HyperStream Viewer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li role="presentation"{% if index == 0 %} class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
                    <li role="presentation"{% if index == 1 %} class="active"{% endif %}><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{##}
{#{% block content %}#}
{#{% endblock %}#}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('bower.static', filename='keen-js/dist/keen.min.js') }}"></script>
    <script type="text/javascript" src="/assets/js/meta.js"></script>
    <script type="text/javascript" src="{{ url_for('bower.static', filename='bootstrap-treeview/dist/bootstrap-treeview.min.js') }}"></script>
    {#  <script type="text/javascript" src="{{ url_for('bower.static', filename='keen-dashboards/dist/keen-dashboards.js') }}"></script>#}

{% endblock %}