<div class="container container-fluid">

    {% if stream.calculated_intervals %}
        <table class="table table-bordered table-condensed table-inverse">
        <tr><th class="col-md-2">Timestamp</th><th class="col-md-10" colspan="10">Value</th></tr>

        {% for item in stream.window().tail(50) %}
            <tr>
                <td class="col-md-2">{{ item.timestamp }}</td>
                <td class="col-md-10">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            {{ item.value | custom_format('<td class="col-md-1">{}</td>') | safe }}
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>