    <script type="text/javascript">

    var seriesOptions = [];
    var streamChart;
    var data;
    var chartData;
    var timestamps;
    var heatmapData;  // different format to other charts
    var chartType;
    var numVariables;  // for multivariate data, how many variables

    // default chart type for multivariate and univariate charts
    var defaultChartType = {
        'true': 'line',
        'false': 'line'
    };

    function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    var globalSeriesOptions = {
        'line': {
            type: 'line',
            tooltip: {
                // headerFormat: 'Value<br/>',
                // pointFormat: '{point.x:%e %b, %Y %H:%M} {point.y}: <b>{point.value}</b>',
                pointFormatter: function () {
                    var point = this;
                    return '<span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': <b>' + point.y + '</b><br/>';
                },
                followPointer: true,
                snap: 1
            }
        },
        'column': {
            type: 'column',
            tooltip: {valueDecimals: 2}
        },
        'bar': {
            type: 'bar',
            tooltip: {valueDecimals: 2}
        },
        'heatmap': {
            type: 'heatmap',
            boostThreshold: 100,
            borderWidth: 0,
            nullColor: '#EFEFEF',
            colsize: 24 * 36e5, // one day
            tooltip: {
                headerFormat: '{point.x}<br/>',
                pointFormat: '{point.y}: <b>{point.value}</b>',
                followPointer: true,
                snap: 1,
                xDateFormat: '%e %b, %Y %H:%M}<br/>'
            }
        }
    };

    function createSeries(data, type, multivariate, i) {
        if (multivariate) {
            if (type === 'heatmap') {
                // set multivariate to false since it's a single series for heatmap
                createSeries(heatmapData, 'heatmap', false);
            } else {
                // Create series for multi-line plots
                _.each(_.unzip(_.pluck(data, 1)), function (column, i) {
                    // recursive call to create each series
                    createSeries(_.zip(_.pluck(data, 0), column), type, false, i);
                });
            }
        } else {
            // Make a deep copy of the series definition
            var series = jQuery.extend(true, {}, globalSeriesOptions[type]);
            series.data = data;
            i = (typeof i === 'undefined') ? 1 : i;
            series.name = i;
            seriesOptions[i - 1] = series;
        }
    }

    function createRangeSelector() {
        return {
            buttons: [{
                type: 'hour',
                count: 1,
                text: '1h'
            }, {
                type: 'hour',
                count: 6,
                text: '6h'
            }, {
                type: 'hour',
                count: 12,
                text: '12h'
            }, {
                type: 'day',
                count: 1,
                text: '1D'
            }, {
                type: 'week',
                count: 1,
                text: '7D'
            }, {
                type: 'all',
                count: 1,
                text: 'All'
            }],
            selected: 3,
            inputEnabled: false
        };
    }

    function createChart(chartType, seriesOptions) {

        var chartDefinition = {
            title: {
                text: '{{ stream.stream_id.name }}'
            },
            chart: {
                type: chartType
            },
            boost: {
                useGPUTranslations: true
            },
            subtitle: {
                text: '{{ dict(stream.stream_id.meta_data) | tojson }}'
            },
            xAxis: {
                type: 'datetime',
                format: '%e %b, %Y'
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            series: seriesOptions,
            credits: {
                enabled: false
            },
            rangeSelector: createRangeSelector()
        };

        if (chartType === 'heatmap') {
            chartDefinition.xAxis.categories = timestamps;
            chartDefinition.xAxis.gapGridLineWidth = 0;
            chartDefinition.yAxis.categories = _.range(numVariables).map(String);
            chartDefinition.yAxis.min = 0;
            chartDefinition.yAxis.max = numVariables;
            chartDefinition.legend = {
                "enabled": true,
                "align": "right",
                "layout": "vertical",
                "verticalAlign": "middle",
                "symbolHeight": 320
            };
            chartDefinition.colorAxis = {
                minColor: '#3060cf',
                maxColor: '#c4463a'
            };

            // debugger;
        }

        streamChart = Highcharts.stockChart('chart-{{ stream_id | u }}', chartDefinition);
    }

    var allChartTypes = ["line", "column", "bar", "heatmap"];


    function getLabel(c) {
        return $("#label-" + c + "-{{ stream_id | u }}");
    }


    function show(availableChartTypes, active) {
        // Show the available chart types, and set the active one
        _.each(availableChartTypes, function(c) {
            var label = getLabel(c);
            label.show();
            if (c === active) {
                label.addClass("active");
            } else {
                label.removeClass("active");
            }
        });

        // Hide all the other chart types
        _.each(_.difference(allChartTypes, availableChartTypes), function(c) {
            var label = getLabel(c);
            label.hide();
            label.removeClass("active");
        })
    }


    $.getJSON('{{ data }}',  function(raw) {
        if (raw.length === 0) {
            console.log("no data for {{ data }}");
            return;
        }

        data = _.map(raw, function(d) { return [Date.parse(d.timestamp), d.value]; });
        timestamps = _.unzip(data)[0];
        heatmapData = _.flatten(_.map(data, function(dui) { return _.map(_.values(dui[1]), function(duj, j) { return [dui[0], j, duj]; }); }), 1);

        var availableChartTypes;

        // work out value type using first data item
        var value = data[0][1];

        if (isNumeric(value)) {
            numVariables = 1;
            availableChartTypes = ["line", "column", "bar"];
        }

        if (value.constructor === Array) {
            numVariables = data[0][1].length;
            availableChartTypes = ["line", "column", "bar", "heatmap"];
        }

        if (value.constructor === Object) {
            numVariables = _.keys(data[0][1]).length;
            availableChartTypes = ["line", "column", "bar", "heatmap"];
        }

        // debugger;

        chartType = defaultChartType[numVariables !== 1];
        chartData = chartType === 'heatmap' ? heatmapData : data;

        show(availableChartTypes, chartType);
        createSeries(chartData, chartType, numVariables !== 1);
        createChart(chartType, seriesOptions);
    });
    </script>