{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="col-lg-12">
            {% if stream %}
                 <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{ stream.stream_id.name }}</h4>
                        </div>
                        <div class="panel-body">
                            <p><strong>Meta data: </strong>{% for v in stream.stream_id.meta_data %}{{ v[0] }}=<strong>{{ v[1] }}</strong>{{ "," if not loop.last }}&nbsp{% endfor %}</p>
                            <p><strong>Channel: </strong>{{ stream.channel.__class__.__name__ }}: "{{ stream.channel.channel_id }}"</p>
                            <p><strong>Calculated intervals: </strong>{{ stream.calculated_intervals | map('string') | list | join(', ') }}</p>
                            <p><strong>Last item: </strong>{% if stream.calculated_intervals %}<br/>&emsp;Timestamp: {{ stream.window().last().timestamp }}<br/>&emsp;Value: {{ stream.window().last().value }}{% else %}No calculations have been performed.{% endif %}</p>
                        </div>
                    </div>
                 {% include "stream_view.html" %}
            {% else %}
                <p>No streams found.</p>
            {% endif %}
            {% if error %}
                <h4>{{ error.__class__.__name__ }}</h4>
                {% if error.message %}
                    <p>{{ error.message }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
