    <script type="text/javascript">
    function processData(raw) {
        if (raw.length === 0) {
            console.log("no data for {{ data }}");
            return;
        }

        data = _.map(raw, function(d) { return [Date.parse(d.timestamp), d.value]; });
        timestamps = _.unzip(data)[0];
        heatmapData = _.flatten(_.map(data, function(dui) { return _.map(_.values(dui[1]), function(duj, j) { return [dui[0], j, duj]; }); }), 1);
    }

    if (window.autoreload) {
        // TODO: Currently not functional, using Chrome auto-refresh plugin instead
        // Plan is to do the following:
        // https://stackoverflow.com/questions/35360341/auto-refresh-json-data-in-highcharts
        setInterval(function () {
            $.getJSON('{{ data }}', function (data) {
                var chart = $('#container').highcharts();
                $.each(data, function (pos, serie) {
                    chart.series[pos].setData(serie, false);
                });
                chart.redraw();
            });
        }, 300000);
    }

    $.getJSON('{{ data }}',  function(raw) {
        processData(raw);

        var availableChartTypes;

        // work out value type using first data item
        var value = data[0][1];

        if (isNumeric(value)) {
            numVariables = 1;
            availableChartTypes = ["line", "column", "bar"];
        }

        if (value.constructor === Array) {
            numVariables = data[0][1].length;
            availableChartTypes = ["line", "column", "bar", "heatmap"];
            categories = _.range(numVariables).map(String);
        }

        if (value.constructor === Object) {
            numVariables = _.keys(data[0][1]).length;
            availableChartTypes = ["line", "column", "bar", "heatmap"];
            categories = _.keys(data[0][1]);
        }

        // debugger;

        chartType = window.defaultChartType[numVariables !== 1];
        chartData = chartType === 'heatmap' ? heatmapData : data;

        show(availableChartTypes, chartType, '{{ stream_id | u }}');
        createSeries(chartData, chartType, numVariables !== 1);
        createChart(chartType, seriesOptions, '{{ stream_id | u }}', '{{ stream_id.name }}', '{{ dict(stream_id.meta_data) | tojson }}');
    });
    </script>