{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
{% endblock %}

{% block body %}
    {{ super() }}
{#    {% block navbar %}#}
{#    {% endblock %}#}

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pageviews by browser (past 24 hours)
          </div>
          <div class="chart-stage">
{#            <div id="chart-01"></div>#}
              {{ plot_div|indent(4)|safe }}
          </div>
          <div class="chart-notes">
            This is a sample text region to describe this chart.
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{#</body>#}
{#</html>#}