{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="col-lg-12">
            {% if hyperstream.workflow_manager.workflows | length == 0 %}
                <p>No workflows stored in the database.</p>
            {% endif %}
            <div id="accordion" class="panel-group">
                {% for worflow_id, workflow in hyperstream.workflow_manager.workflows.items() %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">{{ worflow_id }}</a>
                        </h4>
                        <p>{{ workflow.__class__.__name__ }}</p>
                        <p></p>
                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                            {% for stream_id in channel.streams.keys() %}
                                {% set meta_data = dict(stream_id.meta_data) %}
                                <li class="list-group-item"><a href="{{ url_for('streams', channel=channel_id, name=stream_id.name, **meta_data) }}">{{ stream_id}}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
